
#secondForm{
    display: none;
}

  @media only screen and (max-width: 570px) {
    #mainForm{
        display: none;
    }
    #secondForm{
        display: inline;
    }
  }

  #drop{
    width: 100vw;
  }